@model topmeperp.Models.TndProjectModels
@{
    ViewBag.Title = "備標作業-專案功能區";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container">
    <h1 style="padding-top:10px;">專案主頁</h1>
    <div style="padding-top:10px;"><input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁"></div>
    <div style="padding-top:10px;">
        <h3 class="bg-info">備標作業功能區</h3>
        <p style="padding-top:10px;">
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Tender", new { id = @Model.tndProject.PROJECT_ID})'; ">修改專案基本資料</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Task","Tender", new { id = @Model.tndProject.PROJECT_ID})'; ">任務分派</button>

            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("uploadMapInfo","Tender", new { id = @Model.tndProject.PROJECT_ID})'; ">上傳圖算數量</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("MapInfoMainPage","Tender", new { id = @Model.tndProject.PROJECT_ID})'; ">圖算數量修改</button>

            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Inquiry", new { id = @Model.tndProject.PROJECT_ID})'; ">新增詢價單 </button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("InquiryMainPage","Inquiry", new { id = @Model.tndProject.PROJECT_ID})'; ">詢價單樣板/廠商詢價單查詢 </button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ComparisonMain","Inquiry", new { id = @Model.tndProject.PROJECT_ID})'; ">比價作業</button>

            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Wage", new { id = @Model.tndProject.PROJECT_ID})'; ">工率表下載</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Wage", new { id = @Model.tndProject.PROJECT_ID})'; ">工率表上傳</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("costAnalysis","Inquiry", new { id = @Model.tndProject.PROJECT_ID})'; ">成本分析</button>
        </p>
    </div>
    <div>
        <h3 class="bg-info" >備標會辦單</h3>
        <div style="padding-bottom:20px"></div>
        <input id="btnPrint" type="button" class="btn btn-info" value="列印備標會辦單" onclick="javascript: printpage('printarea')" />
        <div class="page-header" id="printarea">
            <div class="col-md-12"><h2 class="text-center">協成水電工程事業有限公司</h2></div>
            <div class="col-md-12"><h2 class="text-center">備標會辦單</h2></div>
            <div class="row">
                <div class="form-group">
                    <label for="" class="col-md-2 control-label" style="padding-top:30px;">收件日期:</label>
                    <div class="col-md-4" style="padding-top:30px;">
                        @Html.DisplayFor(m => m.tndProject.DUE_DATE)
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label center-block" style="padding-top:20px;">預定報價完成日: </label>
                    <div class="col-md-4" style="padding-top:20px;">
                        @Html.DisplayFor(m => m.tndProject.SCHDL_OFFER_DATE)
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-md-2 control-label" style="padding-top:20px;">工程名稱:</label>
                <div class="col-md-10" style="padding-top:20px;">
                    @Html.DisplayFor(m => m.tndProject.CONTRUCTION_NAME)
                </div>
            </div>
            <div class="row">
                <label for="" class="col-md-2 control-label" style="padding-top:20px;">標案地址:</label>
                <div class="col-md-10" style="padding-top:20px;">
                    @Html.DisplayFor(m => m.tndProject.LOCATION)
                </div>
            </div>
            <div class="row">
                <label for="" class="col-md-2 control-label" style="padding-top:20px;">業主:</label>
                <div class="col-md-10" style="padding-top:20px;">
                    @Html.DisplayFor(m => m.tndProject.OWNER_NAME)
                </div>
            </div>
            <div class="row">
                <label for="" class="col-md-2 control-label" style="padding-top:20px;">聯絡人:</label>
                <div class="col-md-10" style="padding-top:20px;">
                    @Html.DisplayFor(m => m.tndProject.CONTACT_NAME)
                </div>
            </div>
            <div class="row">
                <label for="" class="col-md-2 control-label" style="padding-top:20px;">連絡電話:</label>
                <div class="col-md-10" style="padding-top:20px;">
                    @Html.DisplayFor(m => m.tndProject.CONTACT_TEL)
                </div>
            </div>
            <div class="row">
                <label for="" class="col-md-2 control-label" style="padding-top:20px;">E-mail:</label>
                <div class="col-md-10" style="padding-top:20px;">
                    @Html.DisplayFor(m => m.tndProject.CONTACT_EMAIL)
                </div>
            </div>
            <div class="row" style="padding-top:10px;">
                @{
                    Html.RenderPartial("TaskDetails");
                }
            </div>
        </div>
    </div>
    <br />
    <div>
        <h3 class="bg-info">檔案上傳區</h3>
    </div>
</div>

<script language="javascript" type="text/javascript">

    function printpage(printarea) {

        //var newstr = document.all.item(printarea).innerHTML;
        var newstr = document.getElementById(printarea).innerHTML;
        alert(newstr);
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = newstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>
