@model IEnumerable<topmeperp.Models.TND_PROJECT>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OWNER_USER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXCEL_FILE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.START_ROW_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.PROJECT_ID }) |
                @Html.ActionLink("專案主頁", "Details", new { id = item.PROJECT_ID }) |
                @Html.ActionLink("新增詢價單", "RFQ", new { id = item.PROJECT_ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROJECT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROJECT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OWNER_USER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXCEL_FILE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.START_ROW_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_DATE)
            </td>
        </tr>
    }

</table>
