@model IEnumerable<topmeperp.Models.TND_PROJECT>
<table class="table">
    <tr>
        <th></th>
        <th>
            專案編號
        </th>
        <th>
            專案名稱
        </th>
        <th>
            專案負責人
        </th>
        <th>
            整理後標單檔名稱
        </th>
        <th>
            整理後標單起始欄
        </th>
        <th>
            專案狀態
        </th>
        <th>
            專案建立日期
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("修改", "Create", new { id = item.PROJECT_ID }) |
                @*Html.ActionLink("專案主頁", "Details", new { id = item.PROJECT_ID }) |
                @Html.ActionLink("工作分派", "Task", new { id = item.PROJECT_ID }) |*@
                @Html.ActionLink("上傳圖算數量", "uploadMapInfo", new { id = item.PROJECT_ID }) |
                @Html.ActionLink("圖算數量修改", "MapInfoMainPage", new { id = item.PROJECT_ID }) |
                @Html.ActionLink("新增詢價單", "../Inquiry/Index", new { id = item.PROJECT_ID })|
                @Html.ActionLink("比價作業", "../Inquiry/ComparisonMain", new { id = item.PROJECT_ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROJECT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROJECT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OWNER_USER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXCEL_FILE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.START_ROW_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_DATE)
            </td>
        </tr>
    }

</table>
