@model IEnumerable<topmeperp.Models.PLAN_COSTCHANGE_FORM>

<table class="rwd-table">
    <tr>
        <th>
            異動單號
        </th>
        <th>
            說明
        </th>
        <th>
            處理狀態
        </th>
        <th>
            建立者
        </th>
        <th>
            建立日期
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td data-th="異動單號">
                <a href='costChangeForm/@item.FORM_ID' target="_blank"> @item.FORM_ID </a>
            </td>
            <td data-th="說明">
                @Html.DisplayFor(modelItem => item.REMARK)
            </td>
            <td data-th="處理狀態">
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td data-th="處理狀態">
                @Html.DisplayFor(modelItem => item.CREATE_USER_ID )
            </td>
            <td data-th="建立日期">
                @Html.DisplayFor(modelItem => item.CREATE_DATE)
            </td>
        </tr>
    }
</table>




