@model topmeperp.Models.CostChangeFormTask
@{
    ViewBag.Title = "專案執行-成本異動單";
    Layout =null;
}
<!--標單項目搜尋區條件區域-->

<h3 style="height:20px;line-height:10px">@ViewBag.Title</h3>
<input id="btnPrint" type="button" class="btn btn-info" value="列印" onclick="javascript: printpage('printarea')" />
<div class="row" id="printarea" style="padding-top:10px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <label class="control-label">專案編號:</label>
                <input class="form-control" type="text" id="projectId" name="projectId" value="@ViewBag.projectId" readonly />
            </div>
            <div class="col-sm-4">
                <label class="control-label">專案名稱:</label>
                <label class="info">@ViewBag.projectName</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="control-label">異動單號:</label>
                <input class="form-control" type="text" id="txtFormId" name="txtFormId" value="@ViewBag.FormId" readonly />
            </div>
            <div class="col-sm-6">
                @Html.Raw("<label class=control-label' for='methodcode'>異動原因</label>")
                @Html.DropDownList("reasoncode", null, String.Empty, new { @class = "form-control" })
                @Html.Raw("<label class=control-label' for='methodcode'>財務處理</label>")
                @Html.DropDownList("methodcode", null, String.Empty, new { @class = "form-control" })
            </div>
        </div>

        <div class="row body-content">
            @if (null != Model)
            {
                Html.RenderPartial("_ChangeOrderItemList");
            }
        </div>
        <div class="row form-inline" style="margin-top:3px">
            <div class="col-md-12">
                <label class="control-label" for="remarkItem">增減原因說明(請針對項目、數量、價格或其他原因詳述)</label>
                <textarea class="form-control" rows="3" cols="60" id="remarkItem" name="remarkItem">@Html.DisplayFor(model => model.FormData.REMARK_ITEM)</textarea>
            </div>
        </div>
    </div>

</div>

<script language="javascript" type="text/javascript">
    function printpage(printarea) {

        //var newstr = document.all.item(printarea).innerHTML;
        var newstr = document.getElementById(printarea).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = newstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>