@{
    ViewBag.Title = "專案執行-成本異動作業";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--標單項目搜尋區條件區域-->
<div class="page-header">
    <h3 style="height:20px;line-height:10px">@ViewBag.Title</h3>
    <form name="formSearch" id="formSearch" action="" method="Post">
        <div class="container">
            <div class="row form-group">
                <label class="col-sm-1 control-label">專案編號:</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="txtProjectId" name="txtProjectId" value="@ViewBag.projectId" readonly />
                </div>
                <label class="col-sm-1 control-label">專案名稱:</label>
                <label class="col-sm-8 info">@ViewBag.projectName</label>
            </div>
            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="col-sm-2"> <label class="control-label">說明:</label></div>
                    <div class="col-sm-10"><input type="text" id="remark" name="remark" class="form-control" /></div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-4">
                        <label class="control-label">狀態:</label>
                    </div>
                    <div class="col-sm-8">
                        <select id="status" name="status" class="form-control">
                            <option value="*">全部</option>
                            <option value="新建立">新建立</option>
                            <option value="送審">送審</option>
                            <option value="進行採購">進行採購</option>
                            <!-- <option value="專案吸收">專案吸收</option>
                            <option value="納入標單">納入標單</option>-->
                            <option value="刪除">刪除</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-info">查詢</button>
                </div>
            </div>
    </form>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        成本異動作業
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("createChangeForm", "Plan", new { action="new",projectId=@ViewBag.projectId})'">新增</button>
    </div>
    <div class="panel-body">
        @ViewBag.SearchResult
        @if (null != Model)
            {
                Html.RenderPartial("_ChangeFormList");
            }
    </div>
</div>