
@model IEnumerable<topmeperp.Models.OperatingExpenseFunction>
<div class="container">
    <div class="row" style="padding-top:5px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>項次</th>
                    <th>費用發生年月</th>
                    <th>編號</th>
                    <th>費用項目名稱</th>
                    <th>支付日期</th>
                    <th>估驗單狀態</th>
                    <th>選項連結</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.NO</td>
                        <td>@item.OCCURRED_DATE</td>
                        <td><a href="/CashFlow/SingleEXPForm/@item.EXP_FORM_ID" target="_blank">@item.EXP_FORM_ID</a></td>
                        <td>@item.SUBJECT_NAME</td>
                        <td>@item.PAYMENT_DATE</td>
                        @if (item.STATUS == 0)
                        {

                            <td><span style="color: red; font-size: 15px;">退件</span></td>

                        }
                        else if (item.STATUS == 10)
                        {
                            <td>草稿</td>
                        }
                        else if (item.STATUS == 20)
                        {
                            <td>已送審</td>
                        }
                        else if (item.STATUS == 30)
                        {
                            <td><span style="color: blue; font-size: 15px;">主管已通過</span></td>
                        }
                        else if (item.STATUS == 40)
                        {
                            <td><span style="color:darkseagreen; font-size: 15px;">已立帳</span></td>
                        }
                        else
                        {
                            <td><span style="color: red; font-size: 15px;">已核可</span></td>
                        }
                        <td><a href='@("../../UploadFile/CashFlow/" + item.EXP_FORM_ID + ".xlsx")'>下載</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

