@model IEnumerable<topmeperp.Models.ExpenseBudgetSummary>
@{
    ViewBag.Title = "公司費用預算作業";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="page-header">
    <h2 style="padding-bottom:15px;">公司費用預算作業 : </h2>
    <div class="row col-md-12" style="padding-bottom:15px">
        <label>🎪公司費用預算填寫表連結 : </label>
        <a href="/CashFlow/downLoadExpBudgetForm?year=getBudgetYear()" target="_blank">下載</a>
    </div>
    <form id="UploadFile" name="UploadFile" action="/CashFlow/uploadExpBudgetTable" method="post" enctype="multipart/form-data">
        <div class="row col-md-12" style="padding-bottom:10px">
            <label for="budgetyear">預算年度 :</label> <input id="budgetyear" name="budgetyear" type="text" value="" placeholder="請輸入預算年度" class="form-control" />
        </div>
        <label for="file">🎪公司費用預算匯入:</label>
        <input type="file" name="fileBudget" id="fileBudget" />
        <input id="btnUploadfile" name="btnUploadfile" type="submit" class="btn-primary" value="匯入檔案" />
    </form>
    <div class="row col-md-12">
        <div class="col-md-10 pull-left">
            <input type="button" value="查詢" class="btn btn-info" id="QueryForm" />
        </div>
        <div id="divProcessing" class="col-md-2">
            <img src="~/Content/ajax-loader.gif">
        </div>
    </div>
</div>

<!--年度費用項目預算列表區域-->
<div class="container-fluid">
    <table class="table">
        <tr>
            <th>
                項目名稱
            </th>
            <th>
                項目代碼
            </th>
            <th>
                1月
            </th>
            <th>
                2月
            </th>
            <th>
                3月
            </th>
            <th>
                4月
            </th>
            <th>
                5月
            </th>
            <th>
                6月
            </th>
            <th>
                7月
            </th>
            <th>
                8月
            </th>
            <th>
                9月
            </th>
            <th>
                10月
            </th>
            <th>
                11月
            </th>
            <th>
                12月
            </th>
            <th>
                合計
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JUN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JUL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AUG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OCT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTOTAL)
                </td>
            </tr>
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#QueryForm').click(function () {
            $("#divProcessing").show();
        });
    });
    function getBudgetYear() {
        if ($("#budgetyear").val() != "" || null != $("#budgetyear").val()) {
            return $("#budgetyear").val();
        }
        else {
            var year = DateTime.Now.Year;
            return $("#budgetyear").val(year);
        }
    }

    $("#QueryForm").click(function () {
        if ($("#budgetyear").val() == "") { alert("預算年度欄位不可空白，請輸入要查詢的預算年度!!"); return false; }
        $.ajax({
            url: '@Url.Action("ExpenseBudget", "CashFlow")',
            data: $('#UploadFile').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
</script>