
@model IEnumerable<topmeperp.Models.PlanAccountFunction>
<div class="container">
    <h2 style="padding-top:50px;">業主帳款支付情況 : </h2>
</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>項次</th>
                    <th>專案名稱</th>
                    <th>支付日期</th>
                    <th>支付金額</th>
                    <th>支票號碼</th>
                    <th>暫不入帳</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.NO</td>
                        <td>@item.PROJECT_NAME</td>
                        <td>@item.RECORDED_DATE</td>
                        <td>@item.RECORDED_AMOUNT</td>
                        <td>@item.CHECK_NO</td>
                        @if (item.STATUS == 10)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td><span style="color: red; font-size: 15px;">✔</span></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

