@model topmeperp.Models.OperatingExpenseModel
@{
    ViewBag.Title = "財務管理-公司營業費用/工地費用";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<div class="page-header">
    <form id="formExpense" name="formExpense" action="" method="post">
        <div class="row">
            <div class="col-md-10">
                @if (null == Model.finEXP.PROJECT_ID || Model.finEXP.PROJECT_ID == "")
                {
                    <h3 class="text-center">協成水電工程事業有限公司-公司營業費用</h3>
                }
                else
                {
                    <h3 class="text-center">協成水電工程事業有限公司-工地費用</h3>
                }
            </div>
            <div class="col-md-2 alert-warning">
                @if (Model.finEXP.STATUS == 0)
                {
                    <h5 class="text-right">狀態: 退件</h5>
                }
                else if (Model.finEXP.STATUS == 10)
                {
                    <h5 class="text-right">狀態: 草稿</h5>
                }
                else if (Model.finEXP.STATUS == 20)
                {
                    <h5 class="text-right">狀態: 已送審</h5>
                }
                else if (Model.finEXP.STATUS == 30)
                {
                    <h5 class="text-right">狀態: 主管已通過</h5>
                }
                else if (Model.finEXP.STATUS == 40)
                {
                    <h5 class="text-right">狀態: 已立帳</h5>
                }
                else
                {
                    <h5 class="text-right">狀態: 已核可</h5>
                }
            </div>
        </div>
        <!-- Reg-Form new { enctype = "multipart/form-data" } -->

        <div class="row" style="padding-top : 30px">
            <div class="form-group">
                <label for="year" class="col-md-2 control-label">費用發生年度</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="year" id="year" value="@Model.finEXP.OCCURRED_YEAR">
                </div>

                <label for="month" class="col-md-2 control-label">費用發生月份</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="month" id="month" value="@Model.finEXP.OCCURRED_MONTH">
                </div>
            </div>
        </div>
        <div class="row" style="padding-top : 10px">
            <div class="form-group">
                <label for="paymentdate" class="col-md-2 control-label">費用支付日期</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="paymentdate" id="paymentdate" value="@Model.finEXP.PAYMENT_DATE">
                </div>

                <label for="formnumber" class="col-md-2 control-label">費用單編號</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="formnumber" id="formnumber" value="@Model.finEXP.EXP_FORM_ID" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="row" style="padding-top : 10px">
            <div class="form-group">
                <label for="remark" class="col-md-2 control-label">說明事項</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="remark" id="remark" value="@Model.finEXP.REMARK">
                </div>
                @if (Model.finEXP.PROJECT_ID != null && Model.finEXP.PROJECT_ID != "")
                {
                <label for="projectName" class="col-md-2 control-label">專案名稱</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="projectName" id="projectName" value="@Model.finEXP.PROJECT_NAME">
                </div>
                }
                <input type="hidden" name="createid" id="createid" value="@Model.finEXP.CREATE_ID" />
                <input type="hidden" name="createdate" id="createdate" value="@Model.finEXP.CREATE_DATE" />
                <input type="hidden" name="status" id="status" value="@Model.finEXP.STATUS" />
                <input type="hidden" name="projectid" id="projectid" value="@Model.finEXP.PROJECT_ID" />
            </div>
        </div>
        <br /><br />
        <div class="contailer" style="page-break-before: always">
            <table class="table">
                <tr>
                    <th>
                        項目名稱
                    </th>
                    <th>
                        項目代碼
                    </th>
                    <th>
                        金額
                    </th>
                    <th>
                        備註
                    </th>
                    <th>
                        月預算金額
                    </th>
                    <th>
                        月預算占比 %
                    </th>
                    <th>
                        累計費用金額
                    </th>
                    <th>
                        累計預算金額
                    </th>
                    <th>
                        累計預算占比 %
                    </th>
                    <th></th>
                </tr>
                @if (null == Model.finEXP.PROJECT_ID || Model.finEXP.PROJECT_ID == "")
                {
                    foreach (var item in Model.finEXPItem)
                    {

                        <tr>
                            <td>
                                @item.SUBJECT_NAME
                            </td>
                            <td>
                                @Html.TextBox("subject", @item.FIN_SUBJECT_ID, new { style = "width:60px", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBox("amount", @item.AMOUNT, new { style = "width:80px" })
                            </td>
                            <td>
                                @Html.TextBox("item_remark", @item.ITEM_REMARK, new { style = "width:200px" })
                            </td>
                            <td>
                                @String.Format("{0:#,##0.#}", item.BUDGET_AMOUNT)
                            </td>
                            @if (item.MONTH_RATIO > 100)
                            {
                                <td>
                                    <span style="color: orangered; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.MONTH_RATIO)
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span style="color: cornflowerblue; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.MONTH_RATIO)
                                    </span>
                                </td>
                            }
                            <td>
                                @String.Format("{0:#,##0.#}", item.CUM_YEAR_AMOUNT)
                            </td>
                            <td>
                                @String.Format("{0:#,##0.#}", item.CUM_BUDGET)
                            </td>
                            @if (item.YEAR_RATIO > 100)
                            {
                                <td>
                                    <span style="color: orangered; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.YEAR_RATIO)
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span style="color: cornflowerblue; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.YEAR_RATIO)
                                    </span>
                                </td>
                            }
                            
                            <td><input type="hidden" name="exp_item_id" id="exp_item_id" value="@item.EXP_ITEM_ID"></td>
                        </tr>
                    }
                }
                else
                {
                    foreach (var item in Model.planEXPItem)
                    {

                        <tr>
                            <td>
                                @item.SUBJECT_NAME
                            </td>
                            <td>
                                @Html.TextBox("subject", @item.FIN_SUBJECT_ID, new { style = "width:60px", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBox("amount", @item.AMOUNT, new { style = "width:80px" })
                            </td>
                            <td>
                                @Html.TextBox("item_remark", @item.ITEM_REMARK, new { style = "width:200px" })
                            </td>
                            <td>
                                @String.Format("{0:#,##0.#}", item.BUDGET_AMOUNT)
                            </td>
                            @if (item.MONTH_RATIO > 100)
                            {
                                <td>
                                    <span style="color: orangered; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.MONTH_RATIO)
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span style="color: cornflowerblue; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.MONTH_RATIO)
                                    </span>
                                </td>
                            }
                            <td>
                                @String.Format("{0:#,##0.#}", item.CUM_YEAR_AMOUNT)
                            </td>
                            <td>
                                @String.Format("{0:#,##0.#}", item.CUM_BUDGET)
                            </td>
                            @if (item.YEAR_RATIO > 100)
                            {
                                <td>
                                    <span style="color: orangered; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.YEAR_RATIO)
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span style="color: cornflowerblue; font-size: 15px;">
                                        @String.Format("{0:###0.#}", item.YEAR_RATIO)
                                    </span>
                                </td>
                            }

                            <td><input type="hidden" name="exp_item_id" id="exp_item_id" value="@item.EXP_ITEM_ID"></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.finEXP.STATUS < 20)
        {
            <input type="submit" value="儲存" id="updateForm" name="updateForm" class="btn btn-default" />
            <input type="submit" value="送審" id="SubmitEXP" name="SubmitEXP" class="btn btn-warning" />
        }
        @if (Model.finEXP.STATUS >= 20 && Model.finEXP.STATUS < 30)
        {
            <input type="submit" value="退件" id="RejectExp" name="RejectExp" class="btn btn-warning" />
            <input type="submit" value="核可" id="PassExp" name="PassExp" class="btn btn-danger" />
        }
        @if (Model.finEXP.STATUS >= 30 && Model.finEXP.STATUS < 40)
        {
            <input type="submit" value="退件" id="RejectExp" name="RejectExp" class="btn btn-warning" />
            <input type="submit" value="核可" id="Journal" name="Journal" class="btn btn-danger" />
        }
        @if (Model.finEXP.STATUS >= 40 && Model.finEXP.STATUS < 50)
        {
            <input type="submit" value="退件" id="RejectExp" name="RejectExp" class="btn btn-warning" />
            <input type="submit" value="核可" id="ApproveExp" name="ApproveExp" class="btn btn-danger" />
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            $('#paymentdate').datetimepicker({
                format: 'YYYY/MM/DD'
            });
        });
    })

    $("#updateForm").click(function () {
        $.ajax({
            url: '@Url.Action("UpdateEXP", "CashFlow")',
            data: $('#formExpense').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#SubmitEXP").click(function () {
        $.ajax({
            url: '@Url.Action("UpdateEXPStatusById", "CashFlow")',
            data: $('#formExpense').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#RejectExp").click(function () {
        $.ajax({
            url: '@Url.Action("RejectEXPById", "CashFlow")',
            data: $('#formExpense').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#PassExp").click(function () {
        $.ajax({
            url: '@Url.Action("PassEXPById", "CashFlow")',
            data: $('#formExpense').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#Journal").click(function () {
        $.ajax({
            url: '@Url.Action("JournalById", "CashFlow")',
            data: $('#formExpense').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#ApproveExp").click(function () {
        $.ajax({
            url: '@Url.Action("ApproveEXPById", "CashFlow")',
            data: $('#formExpense').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
</script>
