@model IEnumerable<topmeperp.Models.PRFunction>
<div class="container">
    <div class="row" style="padding-top:5px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>項次</th>
                    <th>採購日期</th>
                    <th>編號</th>
                    <th>供應商</th>
                    <th>功能</th>
                    <th>選項連結</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.NO</td>
                        <td>@item.CREATE_DATE</td>
                        <td>@item.PR_ID</td>
                        <td>@item.SUPPLIER_ID</td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SinglePO","MaterialManage", new { id = @Html.DisplayFor(modelItem => item.PR_ID)})'; ">修改採購單</button>
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Receipt","MaterialManage", new { id = @Html.DisplayFor(modelItem => item.PR_ID)})'; ">驗收</button>
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ReceiptList","MaterialManage", new { id = @Html.DisplayFor(modelItem => item.PR_ID)})'; ">驗收明細</button>
                        </td>
                        <td><a href='@("../../UploadFile/" + ViewBag.projectid + "/Materials/" + item.PR_ID + ".xlsx")'>下載</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

