@model topmeperp.Models.PurchaseRequisitionDetail
@{
    ViewBag.Title = "專案執行-驗收作業 ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="page-header">
    <input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">
    @using (Html.BeginForm("AddReceipt", "MaterialManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-8"><h3 style="height:30px;line-height:20px" class="text-center">協成水電工程事業有限公司</h3></div>
        </div>
        <!-- Reg-Form new { enctype = "multipart/form-data" } -->
        <div class="row">
            <div class="col-md-6" style="padding-bottom:10px">
                <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@Model.prj.PROJECT_NAME" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
            <div class="col-md-6" style="padding-bottom:30px">
                <label for="receipr_date">驗收日期:</label><input id="receipt_date" name="receipt_date" type="text" value="@ViewBag.receiptDate" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>

            <div class="col-md-6" style="padding-bottom:30px">
                <label for="pr_id">採購單號:</label><input id="pr_id" name="pr_id" type="text" value="@Model.planPR.PR_ID" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
            <div class="col-md-6" style="padding-bottom:30px">
                <label for="supplier">供應商:</label><input id="supplier" name="supplier" type="text" value="@Model.planPR.SUPPLIER_ID" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>

            <label class="col-md-2 control-label">收件人 : </label>
            <div class="col-md-10" style="padding-bottom:10px">
                <input type="text" class="form-control" name="recipient" id="recipient" value="@Model.planPR.RECIPIENT" readonly="readonly">
            </div>
            <label class="col-md-2 control-label">送貨地址 : </label>
            <div class="col-md-10" style="padding-bottom:10px">
                <input type="text" class="form-control" name="location" id="location" value="@Model.planPR.LOCATION" readonly="readonly">
            </div>
            <label class="col-md-2 control-label">注意事項 : </label>
            <div class="col-md-10" style="padding-bottom:20px">
                <input type="text" class="form-control" name="caution" id="caution" value="@Model.planPR.REMARK" readonly="readonly">
            </div>
            <input type="hidden" name="projectid" id="projectid" value="@Model.planPR.PROJECT_ID">
        </div>

        <div class="contailer" style="page-break-before: always">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            No.
                        </th>
                        <th>
                            項次
                        </th>
                        <th>
                            項目說明
                        </th>
                        <th>
                            單位
                        </th>
                        <th>
                            合約數量
                        </th>
                        <th>
                            已訂購數量
                        </th>
                        <th>
                            採購數量
                        </th>
                        <th>
                            已驗收數量
                        </th>
                        <th>
                            需求日期
                        </th>
                        <th>
                            備註
                        </th>
                        <th><input type="checkbox" name="CheckAll" id="CheckAll">全選</th>
                        <th>
                            驗收數量
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.planPRItem)
                {

                        <tr>
                            <td>
                                @Html.TextBox("planitemid", @String.Format("{0:N0}", item.PLAN_ITEM_ID), new { style = "width:90px", @readonly = "readonly" })
                            </td>
                            <td>
                                @item.ITEM_ID
                            </td>
                            <td>
                                @item.ITEM_DESC
                            </td>
                            <td>
                                @item.ITEM_UNIT
                            </td>
                            <td>
                                @item.ITEM_FORM_QUANTITY
                            </td>
                            <td>
                                @Html.TextBox("cumulative_qty", item.CUMULATIVE_QTY, new { @class = "form-control", style = "width:90px", Name = "cumulative_qty", @readonly = "readonly" })
                            </td>
                            <td>
                                @item.ORDER_QTY
                            </td>
                            <td>
                                @Html.TextBox("all_receipt_qty", item.ALL_RECEIPT_QTY, new { @class = "form-control", style = "width:90px", Name = "all_receipt_qty", @readonly = "readonly" })
                            </td>
                            <td>
                                @item.NEED_DATE
                            </td>
                            <td>
                                @item.REMARK
                            </td>
                            <td>
                                <input type="checkbox" id="chkItem" name="chkItem" value="@item.PR_ITEM_ID" />
                            </td>
                            <td>
                                @Html.TextBox("receipt_qty", item.RECEIPT_QTY, new { @class = "form-control", style = "width:120px", Name = "receipt_qty" })
                            </td>

                        </tr>
                    }
                </tbody>
</table>
        </div>

        <div class="row">
            <div class="" col-md-12">
                <input type="submit" value="新增" class="btn btn-default" onclick="return Confirm_Form()" />
            </div>
        </div>
    }
</div>

<script language="javascript" type="text/javascript">
    function Confirm_Form() {
        var method1 = $('input[name=chkItem]:checkbox:checked').val();
        if (typeof (method1) == "undefined") { // 注意檢查完全沒有選取的寫法，這行是精華
            alert("沒有選取要驗收的物料，請勾選並檢查數量是否正確！");
            return false;
        }

        var boolOver = false;
        $('table > tbody > tr').each(function () {
            var receipt = 0;
            var all_receipt = 0;
            var cumulative_order = 0;
            receipt = parseInt($.trim($(this).find("#receipt_qty").val())); //抓取每筆記錄驗收數量的值
            all_receipt = parseInt($.trim($(this).find("#all_receipt_qty").val())); //抓取每筆記錄總驗收數量的值
            cumulative_order= parseInt($.trim($(this).find("#cumulative_qty").val())); //抓取每筆記錄總採購數量的值
            if (parseInt(receipt) + parseInt(all_receipt) > parseInt(cumulative_order)) {
                boolOver = true;
            }
            
        });
        if (boolOver == true) {
            alert("總驗收數量大於總訂購數量！");
            return false;
        }
    }
        
</script>