@model IEnumerable<topmeperp.Models.PLAN_ITEM>


<form id="formValuation" name="formValuation" action="AddValuationForm" method="post">
    <!--不好的方式但檔著先屆時設為Hidden-->
    <input type="hidden" id="projectId" name="projectId" value="@ViewBag.projectId" />
    <input type="hidden" id="projectNmae" name="projectNmae" value="@ViewBag.projectName" />
    <input type="hidden" id="formname" name="formname" value="@ViewBag.formname" />
    <input type="hidden" id="supplier" name="supplier" value="@ViewBag.supplier" />
    <table class="table">
        <tr>
            <th>
                No.
            </th>
            <th>
                項次
            </th>
            <th>
                項目說明
            </th>
            <th>
                單位
            </th>
            <th>
                合約數量
            </th>
            <th>
                計價數量
            </th>
            <th>
                計價比率 %
            </th>
            <th>
                金額
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.TextBox("planitemid", @String.Format("{0:N0}", item.PLAN_ITEM_ID), new { style = "width:100px", @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ITEM_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ITEM_DESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ITEM_UNIT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ITEM_FORM_QUANTITY, new { style = "width:100px"})
                </td>
                <td><input style="width:80px" type="text" class="form-control" name="evaluated_qty" id="evaluated_qty" value=""></td>
                <td>
                    <input style="width:80px" type="text" class="form-control" name="evaluated_ratio" id="evaluated_ration" value="" >
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </table>

    <div class="row">
        <div class="" col-md-12">
            <input type="button" value="儲存" class="btn btn-default" id="saveForm" />
        </div>
    </div>
</form>



