@model topmeperp.Models.ContractModels
<table class="table">
    <tr>
        <th>
            NO.
        </th>
        <th>
            合約類型
        </th>
        <th>
            合約名稱
        </th>
        <th>
            廠商名稱
        </th>
        <th>
            採購項目
        </th>
        <th>
            合約品項個數
        </th>
        <th>
            功能
        </th>

    </tr>

    @foreach (var item in Model.contractItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NO)
            </td>
            @if (item.TYPE == "W")
            {
                <td>
                    工資
                </td>
            }
            else
            {
                <td>材料/設備</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CONTRACT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPPLIER_ID)
            </td>
            @if (item.TYPE == "W")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.MAN_FORM_NAME)
                </td>
            }

            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.FORM_NAME)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.ITEM_ROWS)
            </td>
            <td>
                <a href="/Estimation/AddEST?id=@item.CONTRACT_ID&projectid=@item.PROJECT_ID&type=@item.TYPE" target="_blank">新增估驗單</a>
            </td>
        </tr>
    }

</table>

