@model topmeperp.Models.ContractModels
<table class="table">
    <tr>
        <th>
            NO.
        </th>
        <th>
            合約類型
        </th>
        <th>
            合約名稱
        </th>
        <th>
            廠商名稱
        </th>
        <th>
            採購項目
        </th>
        <th>
            項目品項
        </th>

    </tr>

    @foreach (var item in Model.contractItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
            <td>
                <a href="/Estimation/AddEST/@item.CONTRACT_ID" target="_blank">@item.CONTRACT_NAME</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPPLIER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FORM_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_ROWS)
            </td>
        </tr>
    }

</table>

