@{
    ViewBag.Title = "預付款 : ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}



<div class="page-header">
    <h3 style="height:10px;line-height:5px">@ViewBag.Title</h3><br />
    <div class="row">
        <div class="col-md-3" style="padding-top:10px">
            <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-3 form-group" style="padding-top:10px">
            <label for="contractid">合約名稱:</label><input id="contractid" name="contractid" type="text" value="@ViewBag.contractid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-2 form-group" style="padding-top:10px">
            <label for="formid">估驗單編號:</label><input id="formid" name="formid" type="text" value="@ViewBag.formid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-2 form-group" style="padding-top:10px">
            <label for="advancePaymentRatio">預付比率 % :</label><input type="text" id="advancePaymentRatio" name="advancePaymentRatio" value="@ViewBag.advancePaymentRatio" class="form-control" style="background-color:#cccccc; width:80px" readonly="readonly" />
        </div> 
        </div>
    <hr />
    <form id="formAdvancePayment" name="formAdvancePayment">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>期別</th>
                    <th>預付款</th>
                    <th>暫借款</th>
                    <th>保證金</th>
                    <th>合計</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>前期累計</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                </tr>
                <tr>
                    <td>本期金額</td>
                    <td><input type="text" id="advance_payment" name="advance_payment" value="" style="width:80px;" /></td>
                    <td><input type="text" id="temporary_loan" name="temporary_loan" value="" style="width:80px;" /></td>
                    <td><input type="text" id="margins" name="margins" value="" style="width:80px;" /></td>
                    <td><input type="text" id="totalPayment" name="totalPayment" value="" style="width:80px;" /></td>
                </tr>
                <tr>
                    <td>累計金額</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>

    </div>

