@model topmeperp.Models.ContractModels
@{
    ViewBag.Title = "估驗計價 : ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>

<div class="page-header" ng-app="">
    <h3 style="height:10px;line-height:5px">@ViewBag.Title</h3>
    <form id="formESTMain" name="formESTMain">
        <div class="row">
            <div class="col-md-3 form-group" style="padding-top:10px">
                <label for="id">專案編號:</label><input id="id" name="id" type="text" value="@ViewBag.projectId" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
            <div class="col-md-3" style="padding-top:10px">
                <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
            <div class="col-md-3 form-group" style="padding-top:10px">
                <label for="date">估驗日期:</label><input id="date" name="date" type="text" value="@ViewBag.date" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
            <div class="col-md-3 form-group" style="padding-top:10px">
                <label for="estCount">估驗次數:</label><input type="text" id="estCount" name="estCount" value="@ViewBag.estCount" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="formname">發包項目:</label>
                @if (ViewBag.wage == "")
            {
                    <input type="text" id="formname" name="formname" value="@ViewBag.formname" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                }
                else
                {
                    <input type="text" id="formname" name="formname" value="@ViewBag.formname4Wage" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                }
            </div>
            <div class="col-md-3">

                <label for="supplier">付款對象:</label>
                @if (ViewBag.wage == "")
            {
                    <input type="text" id="supplier" name="supplier" value="@ViewBag.supplier" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                }
                else
                {
                    <input type="text" id="supplier" name="supplier" value="@ViewBag.supplier4Wage" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                }
            </div>
            <div class="col-md-3 form-group">
                <label for="contractamount">合約金額:</label>
                @if (ViewBag.wage == "")
            {
                    <input id="contractamount" name="contractamount" type="text" value="@String.Format("{0:#,##0.#}", ViewBag.amount)" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                }
                else
                {
                    <input id="contractamount" name="contractamount" type="text" value="@String.Format("{0:$#,##0.#}", ViewBag.amount4Wage)" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                }
            </div>
            <div class="col-md-3 form-group">
                <label for="formid">估驗單編號:</label><input type="text" id="formid" name="formid" value="@ViewBag.formid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="paymentterms">現金 • 期票比率:</label><button type="button" class="btn btn-link" data-toggle="modal" data-target="#paymentInfo" onclick="getPaymentTerm('@ViewBag.contractid')">查看</button>
            </div>
            <div class="col-md-4">
                <label for="piece">憑證:</label><br /><input type="text" id="piece" name="piece" style="width:60px;" />張 <a href="/Estimation/Invoice/@ViewBag.paymentkey" target="_blank">編輯</a><br /><input type="radio" id="invoice" name="invoice" value="N" />不檢查發票<input type="radio" id="invoice" name="invoice" value="E" checked />發票含保留款<input type="radio" id="invoice" name="invoice" value="I" />發票不含保留款
            </div>
            <div class="col-md-3 form-group">
                <label for="tax">稅金類別:</label><br /><input type="radio" id="tax" name="tax" value="E" checked />外加稅 : <input type="text" id="taxratio" name="taxratio" value="5" style="width:40px;" />% <input type="radio" id="tax" name="tax" value="O" />其他
            </div>
            <div class="col-md-2 form-group">
                <label for="turnToFin">結帳:</label><br /><input type="radio" id="turnToFin" name="turnToFin" value="" />Y   <input type="radio" id="turnToFin" name="turnToFin" value="O" />N
            </div>
        </div>
        <input type="hidden" name="contractid" id="contractid" value="@ViewBag.contractid">
        <input type="hidden" name="keyid" id="keyid" value="@ViewBag.keyid">
        <input type="hidden" name="type" id="type" value="@ViewBag.type">

        <div class="contailer" ng-controller="myController">
            @ViewBag.SearchResult
            <table class="table" align="left">
                <thead>
                    <tr>
                        <th>
                            No.
                        </th>
                        <th>
                            項次
                        </th>
                        <th>
                            項目說明
                        </th>
                        <th>
                            單位
                        </th>
                        <th>
                            合約數量
                        </th>
                        <th>
                            單價
                        </th>
                        <th>
                            本期數量
                        </th>
                       
                        <th>
                            本期金額
                        </th>
                        <th>
                            累計數量
                        </th>
                        <th>
                            累計金額
                        </th>
                        <th>
                            累計%
                        </th>
                    </tr>

                </thead>

                <tbody>
                    <tr ng-repeat="row in item">
                        <td>
                            <input style="width:110px" type="text" class="form-control" name="planitemid" id="planitemid" value="{{row.PLAN_ITEM_ID}}" readonly="readonly" />
                        </td>
                        <td>
                            {{row.ITEM_ID}}
                        </td>
                        <td>
                            {{row.ITEM_DESC}}
                        </td>
                        <td>
                            {{row.ITEM_UNIT}}
                        </td>
                        <td>
                            {{row.mapQty | number : 0}}
                        </td>
                        @if (ViewBag.wage == "")
                        {
                            <td>
                                {{row.ITEM_UNIT_COST | number : 0}}
                            </td>
                        }
                        else
                        {
                            <td>
                                {{row.MAN_PRICE | number : 0}}
                            </td>
                        }

                        <td>
                            <input style="width:80px" type="text" class="form-control" ng-model="row.evaluated_qty" id="evaluated_qty" ng-init="row.evaluated_qty =''" name="evaluated_qty">
                        </td>
                        
                        <td>
                            @if (ViewBag.wage == "")
                            {
                                <input style="width:90px" type="number" class="form-control pull-right" name="amount" id="amount" value="{{row.ITEM_UNIT_COST  * row.evaluated_qty}}" readonly="readonly">
                            }
                            else
                            {
                                <input style="width:90px" type="number" class="form-control pull-right" name="amount" id="amount" value="{{row.MAN_PRICE * row.evaluated_qty}}" readonly="readonly">
                            }
                        </td>
                        <td>
                            <input style="width:70px" type="number" class="form-control pull-right" name="cum_est_qty" id="cum_est_qty" value="{{row.CUM_EST_QTY}}" readonly="readonly">
                        </td>
                        <td>
                            {{row.CUM_EST_QTY * row.ITEM_UNIT_COST  | number : 0}}
                        </td>
                        <td>
                            {{row.CUM_EST_QTY / row.mapQty*100 | number : 0}}
                        </td>
                        @if (ViewBag.type == 'M')
                        {
                            <td><input type="hidden" name="cum_recpt_qty" id="cum_recpt_qty" value="{{row.CUM_RECPT_QTY}}"></td>
                        }
                    </tr>
                </tbody>
            </table>

            <div class="pull-right" style="padding-bottom: 15px">
                本期金額:$
                @if (ViewBag.wage == "")
                {
                    <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalNum()}}" readonly="readonly" style="width:80px" />
                }
                else
                {
                    <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalNum4Wage()}}" readonly="readonly" style="width:80px" />
                }
                累計金額:$
                @if (ViewBag.wage == "")
                {
                    <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalSum()}}" readonly="readonly" style="width:90px" />
                }
                else
                {
                    <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalSum4Wage()}}" readonly="readonly" style="width:90px" />
                }
                比率:
                @if (ViewBag.wage == "")
                {
                    <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalRatio()}}" readonly="readonly" style="width:40px" />
                }
                else
                {
                    <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalRatio4Wage()}}" readonly="readonly" style="width:40px" />
                }
                <span>%</span>
            </div>
        </div>
        <hr />
        <input type="submit" value="計算" id="saveForm" name="saveForm" class="btn btn-success"/>
        <div class="row" style="padding-top:10px;">
            @{
                Html.RenderPartial("PaymentDetails");
            }
        </div>
        <div class="col-md-12" style="padding-bottom:30px;">
            <div class="col-md-6">
                <textarea class="form-control" rows="10" id="remark" name="remark" placeholder="說明事項"></textarea>
            </div>
            <div class="col-md-6 alert-info">
                @Html.Raw(TempData["balance"])
            </div>
        </div>
    </form>
</div>
@using (Html.BeginForm())
{
    <input type="hidden" id="formid" name="formid" value="@ViewBag.formid" />
    <input type="hidden" id="contractid" name="contractid" value="@ViewBag.contractid" />

    <div class="row" style="padding-top:10px">
        <div class="col-md-12">
            <input type="submit" value="儲存" name="SaveEst" class="btn btn-default" onclick="return Confirm_Form()" />
            <input type="submit" value="提交" name="AddEst" class="btn btn-warning" onclick="return Confirm_Form()" />
        </div>
    </div>
}

<!-- Modal :票期對話框-->
<div class="row" style="padding-top:10px;">
    @if (ViewBag.paymentTerms == "P")
    {
        <div class="modal fade" id="paymentInfo" role="dialog">
            <div class="modal-dialog" id="paymentInfoDialog">
                <!-- Modal content-->
                @Html.Partial("_PaymentTerms");
            </div>
        </div>
    }
    else
    {
        <div class="modal fade" id="paymentInfo" role="dialog">
            <div class="modal-dialog" id="paymentInfoDialog">
                <!-- Modal content-->
                @Html.Partial("_PaymentTerms4S");
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    //由ID 取得資料填入表單
    function getPaymentTerm(contractid) {
        //alert(contractid);
        $.ajax({
            url: "/Estimation/getPaymentTerms",
            type: "GET",
            data: { contractid: contractid },
            dataType: "JSON",
            success: function (data) {
                $('#project_id').val(data.PROJECT_ID);
                $('#contract_id').val(data.CONTRACT_ID);
                $('#date1').val(data.DATE_1);
                $('#date2').val(data.DATE_2);
                $('#date3').val(data.DATE_3);
                $('#paymenttype').val(data.PAYMENT_TYPE);
                $('#paymentcash').val(data.PAYMENT_CASH);
                $('#payment_date1').val(data.PAYMENT_UP_TO_U_DATE1);
                $('#payment_date2').val(data.PAYMENT_UP_TO_U_DATE2);
                $('#payment_1').val(data.PAYMENT_UP_TO_U_1);
                $('#payment_2').val(data.PAYMENT_UP_TO_U_2);
                $('#paymentadvance').val(data.PAYMENT_ADVANCE_RATIO);
                $('#paymentadvance_cash').val(data.PAYMENT_ADVANCE_CASH_RATIO);
                $('#paymentadvance_1').val(data.PAYMENT_ADVANCE_1_RATIO);
                $('#paymentadvance_2').val(data.PAYMENT_ADVANCE_2_RATIO);
                $('#paymentestimated').val(data.PAYMENT_ESTIMATED_RATIO);
                $('#paymentestimated_cash').val(data.PAYMENT_ESTIMATED_CASH_RATIO);
                $('#paymentestimated_1').val(data.PAYMENT_ESTIMATED_1_RATIO);
                $('#paymentestimated_2').val(data.PAYMENT_ESTIMATED_2_RATIO);
                $('#paymentretention').val(data.PAYMENT_RETENTION_RATIO);
                $('#paymentretention_cash').val(data.PAYMENT_RETENTION_CASH_RATIO);
                $('#paymentretention_1').val(data.PAYMENT_RETENTION_1_RATIO);
                $('#paymentretention_2').val(data.PAYMENT_RETENTION_2_RATIO);
                $('#usancecash').val(data.USANCE_CASH);
                $('#usance_date1').val(data.USANCE_UP_TO_U_DATE1);
                $('#usance_date2').val(data.USANCE_UP_TO_U_DATE2);
                $('#usance_1').val(data.USANCE_UP_TO_U_1);
                $('#usance_2').val(data.USANCE_UP_TO_U_2);
                $('#usanceadvance').val(data.USANCE_ADVANCE_RATIO);
                $('#usanceadvance_cash').val(data.USANCE_ADVANCE_CASH_RATIO);
                $('#usanceadvance_1').val(data.USANCE_ADVANCE_1_RATIO);
                $('#usanceadvance_2').val(data.USANCE_ADVANCE_2_RATIO);
                $('#usancegoods').val(data.USANCE_GOODS_RATIO);
                $('#usancegoods_cash').val(data.USANCE_GOODS_CASH_RATIO);
                $('#usancegoods_1').val(data.USANCE_GOODS_1_RATIO);
                $('#usancegoods_2').val(data.USANCE_GOODS_2_RATIO);
                $('#usancefinished').val(data.USANCE_FINISHED_RATIO);
                $('#usancefinished_cash').val(data.USANCE_FINISHED_CASH_RATIO);
                $('#usancefinished_1').val(data.USANCE_FINISHED_1_RATIO);
                $('#usancefinished_2').val(data.USANCE_FINISHED_2_RATIO);
                $('#usanceretention').val(data.USANCE_RETENTION_RATIO);
                $('#usanceretention_cash').val(data.USANCE_RETENTION_CASH_RATIO);
                $('#usanceretention_1').val(data.USANCE_RETENTION_1_RATIO);
                $('#usanceretention_2').val(data.USANCE_RETENTION_2_RATIO);
                if ((data.DATE_3) == null) {
                    $("input[name=payfrequency][value='O']").attr('checked', true);
                }
                else {
                    $("input[name=payfrequency][value='T']").attr('checked', true)
                }
                if ((data.PAYMENT_TYPE) != null && (data.PAYMENT_TYPE) != "") {
                    $("input[name=payterms][value='P']").attr('checked', true);
                }
                else {
                    $("input[name=payterms][value='S']").attr('checked', true);
                }

                $('#paymentInfo').modal('show'); // show bootstrap modal when complete loaded
                //$('.modal-title').text('編輯設定資料'); // Set title to Bootstrap modal title

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax');
            }
        });

    }

</script>

<script type="text/javascript">

    function myController($scope, $http) {
        //若資料量很多的話，建議改用$http的Ajax方法撈資料指派給$scope的item成員
        $scope.item = @Html.Raw(ViewData["items"])
        //取得估驗總金額
        $scope.GetTotalNum = function () {
            var sum = 0;
            for (var i = 0; i < $scope.item.length; i++) {
                sum += parseFloat($scope.item[i].ITEM_UNIT_COST * $scope.item[i].evaluated_qty);
            }
            return sum;
        }
        $scope.GetTotalNum4Wage = function () {
            var sumWage = 0;
            for (var i = 0; i < $scope.item.length; i++) {
                sumWage += parseFloat($scope.item[i].MAN_PRICE * $scope.item[i].evaluated_qty);
            }
            return sumWage;
        }
        $scope.GetTotalSum = function () {
            var cumsum = 0;
            for (var i = 0; i < $scope.item.length; i++) {
                cumsum += parseFloat($scope.item[i].ITEM_UNIT_COST * $scope.item[i].CUM_EST_QTY);
            }
            return cumsum;
        }
        $scope.GetTotalSum4Wage = function () {
            var cumsum = 0;
            for (var i = 0; i < $scope.item.length; i++) {
                cumsum += parseFloat($scope.item[i].MAN_PRICE * $scope.item[i].CUM_EST_QTY);
            }
            return cumsum;
        }
        $scope.GetTotalRatio = function () {
            var cumsum = 0;
            var totalamount = 0;
            for (var i = 0; i < $scope.item.length; i++) {
                cumsum += parseFloat($scope.item[i].ITEM_UNIT_COST * $scope.item[i].CUM_EST_QTY);
                totalamount += parseFloat($scope.item[i].ITEM_UNIT_COST * $scope.item[i].mapQty);
            }
            return parseInt(cumsum / totalamount * 100);
        }
        $scope.GetTotalRatio4Wage = function () {
            var cumsum = 0;
            var totalamount = 0;
            for (var i = 0; i < $scope.item.length; i++) {
                cumsum += parseFloat($scope.item[i].MAN_PRICE * $scope.item[i].CUM_EST_QTY);
                totalamount += parseFloat($scope.item[i].MAN_PRICE * $scope.item[i].mapQty);
            }
            return parseInt(cumsum / totalamount * 100);
        }
    }

    $("#saveForm").click(function () {

        var boolOver = false;
        $('table > tbody > tr').each(function () {
            var est_qty = 0;
            var cumulative_est_qty = 0;
            var cumulative_recpt_qty = 0;
            est_qty = parseInt($.trim($(this).find("#evaluated_qty").val())); //抓取每筆記錄估驗數量的值
            cumulative_est_qty = parseInt($.trim($(this).find("#cum_est_qty").val()));//抓取每筆記錄累計估驗數量的值

            cumulative_recpt_qty = parseInt($.trim($(this).find("#cum_recpt_qty").val()));//抓取每筆記錄累計驗收數量的值
            if (parseInt(est_qty) + parseInt(cumulative_est_qty) > parseInt(cumulative_recpt_qty)) {
                boolOver = true;
            }
        });

        if (boolOver == true) {
            alert("此次估驗量大於可申請估驗的數量，請再次確認您要估驗的數量!");
            return false;
        }

        $.ajax({
            url: '@Url.Action("ConfirmEst", "Estimation")',
            data: $('#formESTMain').serialize(),
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#cum_t_foreign').val(data.CUM_T_FOREIGN);
                $('#cum_sub_amount').val(data.CUM_SUB_AMOUNT);
                $('#cum_t_retention').val(data.CUM_T_RETENTION);
                $('#cum_t_advance').val(data.CUM_T_ADVANCE);
                $('#cum_t_other').val(data.CUM_T_OTHER);
                $('#cum_payable_amount').val(data.CUM_PAYABLE_AMOUNT);
                $('#cum_t_repayment').val(data.CUM_T_REPAYMENT);
                $('#cum_t_refund').val(data.CUM_T_REFUND);
                $('#t_foreign').val(data.T_FOREIGN);
                $('#sub_amount').val(data.SUB_AMOUNT);
                $('#t_retention').val(data.T_RETENTION);
                $('#t_advance').val(data.T_ADVANCE);
                $('#t_other').val(data.T_OTHER);
                $('#t_repayment').val(data.T_REPAYMENT);
                $('#t_refund').val(data.T_REFUND);
                $('#payable_amount').val(data.PAYABLE_AMOUNT);
                $('#tax_amount').val(data.TAX_AMOUNT);
                $('#cum_tax_amount').val(data.CUM_TAX_AMOUNT);
                $('#cum_paid_amount').val(data.CUM_PAID_AMOUNT);
                $('#paid_amount').val(data.PAID_AMOUNT);
                $('#total_paid_amount').val(data.TOTAL_PAID_AMOUNT);
                $('#total_payable_amount').val(data.TOTAL_PAYABLE_AMOUNT);
                $('#total_foreign').val(data.TOTAL_FOREIGN);
                $('#total_sub_amount').val(data.TOTAL_SUB_AMOUNT);
                $('#total_retention').val(data.TOTAL_RETENTION);
                $('#total_advance').val(data.TOTAL_ADVANCE);
                $('#total_other').val(data.TOTAL_OTHER);
                $('#total_tax_amount').val(data.TOTAL_TAX_AMOUNT);
                $('#total_repayment').val(data.TOTAL_REPAYMENT);
                $('#total_refund').val(data.TOTAL_REFUND);
                if (data.PAYABLE_AMOUNT == null || data.PAYABLE_AMOUNT == '') {
                    alert("目前尚有未核准的估驗單，估驗單編號為" + data + "，待此單核准後再新增估驗單!");
                }
                else {
                    alert("更新成功，若資料無誤請按下儲存或提交鍵 !");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });


</script>
