
@{
    ViewBag.Title = "估驗單查詢 :";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h3 style="height:20px;line-height:10px">@ViewBag.Title</h3>
<div class="jumbotron">
    <form name="estSearch" id="estSearch" action="SearchEST" method="Post" class="form-inline">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="id">專案編號:</label><input id="id" name="id" type="text" value="@ViewBag.projectid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
            <div class="col-md-6">
                <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc; width:250px;" readonly="readonly" />
            </div>
        </div>
        <hr style="border-top: 1px solid #8c8b8b;" />

        <div class="row">
            <div class='col-md-4 form-group' style="padding-top:5px">
                <label for="contractid">發包項目名稱 : </label>
                <input id="contractid" name="contractid" class="form-control" />
            </div>
            <div class='col-md-4 form-group' style="padding-top:5px">
                <label for="supplier">供應商名稱 :</label>
                <input id="supplier" name="supplier" type="text" value="" class="form-control" />
            </div>
            <div class='col-md-4 form-group' style="padding-top:5px">
                <label for="estid">估驗單編號 :</label>
                <input id="estid" name="estid" type="text" value="" class="form-control" />
            </div>
            <div class="col-md-8 form-group" style="padding-top:10px">
                <input type="checkbox" value="20" id="status" name="status" checked />估驗單(已送審)
                <input id="Submit1" type="submit" class="btn btn-info" value="查詢" />
            </div>
            <div class="col-md-1">
                <div id="divProcessing">
                    <img src="~/Content/ajax-loader.gif">
                </div>
            </div>
                <div class="col-md-2 form-group" style="padding-top:10px">
                    <input type="button" class="btn btn-success" onclick="javascript:window.location='@Url.Action("Index", "Estimation")'" value="回上一頁">
                </div>
            </div>
    </form>
</div>
<!--估驗單列表區域-->
<div class="container-fluid">
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("_EstimationFormList");
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            $("#divProcessing").show();
        });

        $(function () {
            $('#create_date').datetimepicker({
                format: 'YYYY/MM'
            });
        });
    })
</script>
