@{
    ViewBag.Title = "廠商估驗單管理 :";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div class="page-header">
    <div class="row">
        <div class="col-sm-2"><h5>@ViewBag.Title</h5></div>
        <div class="col-sm-6 text-left">
            <h5>
                專案名稱:@ViewBag.projectName ( @ViewBag.projectid )
                <input id="id" name="id" type="hidden" value="@ViewBag.projectid" />
            </h5>

        </div>
    </div>

    <form name="estSearch" id="estSearch" action="SearchEST" method="Post" class="form-inline">
        <div class="row">
            <div class='col-md-3 form-group'>
                <label for="contractid">發包項目名稱 : </label>
                <input id="contractid" name="contractid" class="form-control" />
            </div>
            <div class='col-md-3 form-group'>
                <label for="payee">供應商名稱 :</label>
                <input id="payee" name="payee" type="text" value="" class="form-control" />
            </div>
            <div class='col-md-3 form-group'>
                <label for="estid">估驗單編號 :</label>
                <input id="estid" name="estid" type="text" value="" class="form-control" />
            </div>
            <div class="col-md-3 form-group">
                <label for="status">狀態 : </label> @Html.DropDownList("status", null, String.Empty, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <input id="Submit1" type="submit" class="btn btn-info" value="查詢" />
            @**
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ContractItems", "Estimation", new { projectid = @ViewBag.projectid })'">新增</button>
            *@
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("createEstimationOrder", "Estimation", new { projectid = @ViewBag.projectid })'">新增</button>
            <input type="button" class="btn btn-success" onclick="javascript:window.location='@Url.Action("Index", "CashFlow")'" value="回上一頁">
        </div>
    </form>
</div>
<!--估驗單列表區域-->
<div class="container-fluid">
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("_EstimationFormList");
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            $("#divProcessing").show();
        });
    })
</script>
