@{
    ViewBag.Title = "估驗計價 : ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>

<div class="page-header">
    
    <div ng-app="" ng-controller="MyCtrl">
        <div style="padding-bottom : 20px">
            <input type="submit" value="儲存" class="btn btn-success" id="saveForm" />
            <input onclick="window.close();" value="關閉" type="button" class="btn btn-default" />
        </div>
            <form id="otherpayment_form" name="otherpayment_form" ng-submit="submit()">
                <div class="row">
                    <div class="col-md-4" style="padding-top:10px">
                        <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                    </div>
                    <div class="col-md-4 form-group" style="padding-top:10px">
                        <label for="id">合約名稱:</label><input id="contractid" name="contractid" type="text" value="@ViewBag.contractid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                    </div>
                    <div class="col-md-4 form-group" style="padding-top:10px">
                        <label for="id">估驗單編號:</label><input id="formid" name="formid" type="text" value="@ViewBag.formid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                    </div>
                    <input type="hidden" name="projectId" id="projectId" value="@ViewBag.projectId">
                    <input type="hidden" name="keyId" id="keyId" value="@ViewBag.keyId">

                </div>
                <ng-form ng-repeat="key in keys" name="keyForm">
                    
                    扣款金額：
                    <input type="text" id="input_amount" name="input_amount" ng-model="key.amount" required>
                    扣款原因：
                    <input type="text" style="width:500px" id="input_reason" name="input_reason" ng-model="key.reason" required>
                    <br />
                    <hr />
                    扣款金額：{{key.AMOUNT}}
                    扣款原因：{{key.REASON}}
                </ng-form>
                <div style="padding-top : 20px">
                    <input type="submit" value="新增" ng-click="addKey()" class="btn btn-default"/>
                    <input type="submit" value="刪除" ng-click="remove()" class="btn btn-warning"/>
                </div>
                
                
            </form>
        </div>
</div>
<script>
    function MyCtrl($scope) {
        $scope.keys = @Html.Raw(ViewData["items"]);
        $scope.addKey = function () {
            $scope.keys.push({ amount: null, reason: '' });

        };
        $scope.remove = function (index) {
            $scope.keys.splice(index, 1);
        };
    }
        $("#saveForm").click(function () {
            $.ajax({
                url: '@Url.Action("AddOtherPay", "Estimation")',
                data: $('#otherpayment_form').serialize(),
                type: "POST",
                dataType: 'text',
                success: function (msg) {
                    alert(msg);
                    window.location.reload()
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        });
</script>
