@model topmeperp.Models.EstimationFormDetail
@{
    ViewBag.Title = "估驗計價 : ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
<div class="page-header">
    <h3 style="height:10px;line-height:5px">@ViewBag.Title</h3>
    <div class="row">
        <div class="col-md-3 form-group" style="padding-top:10px">
            <label for="id">專案編號:</label><input id="id" name="id" type="text" value="@Model.prj.PROJECT_ID" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-3" style="padding-top:10px">
            <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@Model.prj.PROJECT_NAME" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-3 form-group" style="padding-top:10px">
            <label for="id">估驗日期:</label><input id="date" name="date" type="text" value="@Model.planEST.CREATE_DATE" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-3 form-group" style="padding-top:10px">
            <label for="id">估驗次數:</label><input type="text" id="estCount" name="estCount" value="@ViewBag.estCount" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="id">發包項目:</label>
            <input type="text" id="formname" name="formname" value="@ViewBag.formname" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-3">
            <label for="projectName">付款對象:</label>
            <input type="text" id="supplier" name="supplier" value="@ViewBag.supplier" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-3 form-group">
            <label for="id">合約金額:</label>
            <input id="contractamount" name="contractamount" type="text" value="@ViewBag.contractamount" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-3 form-group">
            <label for="id">估驗單編號:</label><input type="text" id="formid" name="formid" value="@Model.planEST.EST_FORM_ID" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
    </div>
    <div ng-app="">
        <form id="formEST" name="formEST">
            <div class="row">
                <div class="col-md-3">
                    <label for="projectName">現金 • 期票比率:</label><button type="button" class="btn btn-link" data-toggle="modal" data-target="#paymentInfo" onclick="getPaymentTerm('@Model.planEST.CONTRACT_ID')">查看</button>
                </div>
                @if (Model.planEST.INVOICE == "E")
                {
                    <div class="col-md-4">
                        <label for="projectName">憑證:</label><br /><input type="text" id="piece" name="piece" style="width:60px;" />張  <a href="/Estimation/Invoice/@ViewBag.paymentkey" target="_blank">編輯</a>
                        <br /><input type="radio" id="invoice" name="invoice" value="N" />不檢查發票<input type="radio" id="invoice" name="invoice" value="E" checked />發票含保留款<input type="radio" id="invoice" name="invoice" value="I" />發票不含保留款
                    </div>
                }
                else if (Model.planEST.INVOICE == "N")
                {
                    <div class="col-md-4">
                        <label for="projectName">憑證:</label><br /><input type="text" id="piece" name="piece" style="width:60px;" />張  <a href="/Estimation/Invoice/@ViewBag.paymentkey" target="_blank">編輯</a>
                        <br /><input type="radio" id="invoice" name="invoice" value="N" checked />不檢查發票<input type="radio" id="invoice" name="invoice" value="E" />發票含保留款<input type="radio" id="invoice" name="invoice" value="I" />發票不含保留款
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        <label for="projectName">憑證:</label><br /><input type="text" id="piece" name="piece" style="width:60px;" />張  <a href="/Estimation/Invoice/@ViewBag.paymentkey" target="_blank">編輯</a>
                        <br /><input type="radio" id="invoice" name="invoice" value="N" />不檢查發票<input type="radio" id="invoice" name="invoice" value="E" />發票含保留款<input type="radio" id="invoice" name="invoice" value="I" checked />發票不含保留款
                    </div>
                }
                @if (Model.planEST.PLUS_TAX == "E")
                {
                    <div class="col-md-2 form-group">
                        <label for="id">稅金類別:</label><br /><input type="radio" id="tax" name="tax" value="E" checked />外加稅 : <input type="text" id="taxratio" name="taxratio" value="5" style="width:40px;" />% <input type="radio" id="tax" name="tax" value="O" />其他
                    </div>
                }
                else
                {
                    <div class="col-md-2 form-group">
                        <label for="id">稅金類別:</label><br /><input type="radio" id="tax" name="tax" value="E" />外加稅 : <input type="text" id="taxratio" name="taxratio" value="5" style="width:40px;" />% <input type="radio" id="tax" name="tax" value="O" checked />其他
                    </div>
                }
                <div class="col-md-1 form-group">
                    <label for="id">結帳:</label><br /><input type="radio" id="turnToFin" name="turnToFin" value="" />Y   <input type="radio" id="turnToFin" name="turnToFin" value="O" />N
                </div>
                <div class="col-md-2 alert-warning">
                    @if (Model.planEST.STATUS == 0)
                    {
                        <h5 class="text-right">狀態: 退件</h5>
                    }
                    else if (Model.planEST.STATUS == 10)
                    {
                        <h5 class="text-right">狀態: 草稿</h5>
                    }
                    else if (Model.planEST.STATUS == 20)
                    {
                        <h5 class="text-right">狀態: 已送審</h5>
                    }
                    else if (Model.planEST.STATUS == 30)
                    {
                        <h5 class="text-right">狀態: 已核可</h5>
                    }
                    else
                    {
                        <h5 class="text-right">狀態: 已結帳</h5>
                    }
                </div>
            </div>
            <hr />
            <div class="contailer" ng-controller="myController">
                @ViewBag.SearchResult
                <input type="hidden" name="estid" id="estid" value="@Model.planEST.EST_FORM_ID">
                <input type="hidden" id="contractid" name="contractid" value="@Model.planEST.CONTRACT_ID" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                項次
                            </th>
                            <th>
                                項目說明
                            </th>
                            <th>
                                單位
                            </th>
                            <th>
                                合約數量
                            </th>
                            <th>
                                單價
                            </th>
                            <th>
                                本期數量
                            </th>
                            <th>
                                計價比率 %
                            </th>
                            <th>
                                金額
                            </th>
                            <th>
                                累計數量
                            </th>
                            <th>
                                累計金額
                            </th>
                            <th>
                                累計%
                            </th>
                            @if (Model.planEST.STATUS < 20)
                            {
                                <th>
                                    <input type="submit" value="完成" class="btn btn-info" id="saveQty" />
                                </th>
                            }
                            else
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in items">
                            <td>
                                <input style="width:110px" type="text" class="form-control" name="planitemid" id="planitemid" value="{{row.PLAN_ITEM_ID}}" readonly="readonly" />
                            </td>
                            <td>
                                {{row.ITEM_ID}}
                            </td>
                            <td>
                                {{row.ITEM_DESC}}
                            </td>
                            <td>
                                {{row.ITEM_UNIT}}
                            </td>
                            <td>
                                {{row.ITEM_FORM_QUANTITY | number : 0}}
                            </td>
                            @if (ViewBag.wage != "W")
                            {
                                <td>
                                    {{row.ITEM_UNIT_PRICE  | number : 0}}
                                </td>
                            }
                            else
                            {
                                <td>
                                    {{row.MAN_PRICE  | number : 0}}
                                </td>
                            }

                            <td>
                                <span ng-hide="row.EditMode">{{row.EST_QTY  | number : 0}}</span>
                                <input type="text" ng-show="row.EditMode" ng-model="row.Qty2" id="evaluated_qty" name="evaluated_qty" style="width:80px">
                            </td>
                            <td>
                                <input style="width:80px" type="text" class="form-control" ng-model="row.evaluated_ratio" id="evaluated_ration" name="evaluated_ration">
                            </td>
                            <td>
                                @if (ViewBag.wage != "W")
                                {
                                    <input style="width:100px" type="number" class="form-control pull-right" name="amount" id="amount" value="{{row.ITEM_UNIT_PRICE * row.EST_QTY}}" readonly="readonly">
                                }
                                else
                                {
                                    <input style="width:100px" type="number" class="form-control pull-right" name="amount" id="amount" value="{{row.MAN_PRICE * row.EST_QTY}}" readonly="readonly">
                                }
                            </td>
                            <td>
                                {{row.CUM_QTY | number : 0}}
                            </td>
                            <td>
                                {{row.CUM_QTY * row.ITEM_UNIT_PRICE  | number : 0}}
                            </td>
                            <td>
                                {{row.CUM_QTY / row.ITEM_FORM_QUANTITY *100 | number : 0}}
                            </td>
                            <td>
                                <button ng-hide="row.EditMode" ng-click="EnterEdit(row)" class="btn btn-default">編輯</button>

                                <button ng-show="row.EditMode" ng-click="CancelEdit(row)" class="btn btn-default">取消</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="pull-right" style="padding-bottom: 15px">
                    金額總計:
                    @if (ViewBag.wage != "W")
                    {
                        <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalNum()}}" readonly="readonly" style="width:100px" />
                    }
                    else
                    {
                        <input id="totalAmount" name="totalAmount" type="number" value="{{GetTotalNum4Wage()}}" readonly="readonly" style="width:100px" />
                    }
                    累計金額:
                    @if (ViewBag.wage != "W")
                    {
                        <input id="totalAmount1" name="totalAmount1" type="number" value="{{GetTotalSum()}}" readonly="readonly" style="width:90px" />
                    }
                    else
                    {
                        <input id="totalAmount1" name="totalAmount1" type="number" value="{{GetTotalSum4Wage()}}" readonly="readonly" style="width:90px" />
                    }
                    比率:
                    @if (ViewBag.wage != "W")
                    {
                        <input id="totalAmount2" name="totalAmount2" type="number" value="{{GetTotalRatio()}}" readonly="readonly" style="width:50px" />
                    }
                    else
                    {
                        <input id="totalAmount2" name="totalAmount2" type="number" value="{{GetTotalRatio4Wage()}}" readonly="readonly" style="width:50px" />
                    }
                </div>

            </div>
            <hr />
            <div class="row" style="padding-top:10px;" ng-controller="SummaryController">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>期別</th>
                            <th>+ 代付支出<a href="/Estimation/RePayment/@ViewBag.paymentkey" target="_blank">＠</a></th>
                            <th>- 外勞扣款</th>
                            <th>= 小計</th>
                            <th>- 保留款 <input type="text" id="retention" name="retention" value="@ViewBag.retention" readonly="readonly" style="width:60px;" />%</th>
                            <th>- 預付款<a href="/Estimation/AdvancePayment/@ViewBag.paymentkey" target="_blank">＠</a></th>
                            <th>- 代付扣回<a href="/Estimation/Refund/@ViewBag.paymentkey" target="_blank">＠</a></th>
                            <th>- 其他扣款<a href="/Estimation/OtherPayment/@ViewBag.paymentkey" target="_blank" id="otherPay">＠</a></th>
                            <th>= 應付金額</th>
                            <th>+ 營業稅</th>
                            <th>= 實付金額</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>前期累計</td>
                            <td><input type="text" id="cum_t_repayment" name="cum_t_repayment" value="{{key.CUM_T_REPAYMENT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_t_foreign" name="cum_t_foreign" value="{{key.CUM_T_FOREIGN}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_sub_amount" name="cum_sub_amount" value="{{key.CUM_SUB_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_t_retention" name="cum_t_retention" value="{{key.CUM_T_RETENTION}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_t_advance" name="cum_t_advance" value="{{key.CUM_T_ADVANCE}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_t_refund" name="cum_t_refund" value="{{key.CUM_T_REFUND}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_t_other" name="cum_t_other" value="{{key.CUM_T_OTHER}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_payable_amount" name="cum_payable_amount" value="{{key.PAYABLE_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_tax_amount" name="cum_tax_amount" value="{{key.CUM_TAX_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="cum_paid_amount" name="cum_paid_amount" value="{{key.CUM_PAID_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                        </tr>
                        <tr>
                            <td>本期金額</td>
                            <td><input type="text" id="t_repayment" name="t_repayment" value="{{key.T_REPAYMENT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="t_foreign" name="t_foreign" value="{{key.T_FOREIGN}}" style="width:80px;" /></td>
                            <td><input type="text" id="sub_amount" name="sub_amount" value="{{key.SUB_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="t_retention" name="t_retention" value="{{key.T_RETENTION}}" style="width:80px;" /></td>
                            <td><input type="text" id="t_advance" name="t_advance" value="{{key.T_ADVANCE}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="t_refund" name="t_refund" value="{{key.T_REFUND}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="t_other" name="t_other" value="{{key.T_OTHER}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="payable_amount" name="payable_amount" value="{{key.PAYABLE_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="tax_amount" name="tax_amount" value="{{key.TAX_AMOUNT}}" style="width:80px;" /></td>
                            <td><input type="text" id="paid_amount" name="paid_amount" value="{{key.PAID_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                        </tr>
                        <tr>
                            <td>累計金額</td>
                            <td><input type="text" id="total_repayment" name="total_repayment" value="{{key.TOTAL_REPAYMENT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_foreign" name="total_foreign" value="{{key.TOTAL_FOREIGN}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_sub_amount" name="total_sub_amount" value="{{key.TOTAL_SUB_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_retention" name="total_retention" value="{{key.TOTAL_RETENTION}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_advance" name="total_advance" value="{{key.TOTAL_ADVANCE}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_refund" name="total_refund" value="{{key.TOTAL_REFUND}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_other" name="total_other" value="{{key.TOTAL_OTHER}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_payable_amount" name="total_payable_amount" value="{{key.TOTAL_PAYABLE_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_tax_amount" name="total_tax_amount" value="{{key.TOTAL_TAX_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>
                            <td><input type="text" id="total_paid_amount" name="total_paid_amount" value="{{key.TOTAL_PAID_AMOUNT}}" readonly="readonly" style="background-color:#cccccc; width:80px;" /></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" style="padding-bottom:30px;">
                <div class="col-md-6">
                    <textarea class="form-control" rows="10" id="remark" name="remark">@Model.planEST.REMARK</textarea>
                </div>
                <div class="col-md-6 alert-info">
                    @Html.Raw(TempData["balance"])
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" style="padding-top:10px">
    <div class="col-md-12">
        @if (Model.planEST.STATUS < 20)
        {
            <input type="submit" value="儲存" id="SaveEst" name="SaveEst" class="btn btn-default" />
            <input type="submit" value="送審" id="SubmitEst" name="SubmitEst" class="btn btn-warning" onclick="return Confirm_Form()" />
        }
        @if (Model.planEST.STATUS >= 20 && Model.planEST.STATUS < 30)
        {
            <input type="submit" value="退件" id="RejectEst" name="RejectEst" class="btn btn-warning" />
            <input type="submit" value="核可" id="ApproveEst" name="ConfirmEst" class="btn btn-danger" />
        }
    </div>
</div>

<script type="text/javascript">

    function myController($scope, $http) {

        //若資料量很多的話，則改用$http的Ajax方法撈資料指派給$scope的items成員
        $scope.items = @Html.Raw(ViewData["items"])
        //取得估驗總金額
        $scope.GetTotalNum = function () {
            var sum = 0;
            for (var i = 0; i < $scope.items.length; i++) {
                sum += parseFloat($scope.items[i].ITEM_UNIT_PRICE * $scope.items[i].EST_QTY);
            }
            return sum;
        }
        $scope.GetTotalNum4Wage = function () {
            var sumWage = 0;
            for (var i = 0; i < $scope.items.length; i++) {
                sumWage += parseFloat($scope.items[i].MAN_PRICE * $scope.items[i].EST_QTY);
            }
            return sumWage;
        }

        $scope.GetTotalSum = function () {
            var cumsum = 0;
            for (var i = 0; i < $scope.items.length; i++) {
                cumsum += parseFloat($scope.items[i].ITEM_UNIT_PRICE * $scope.items[i].CUM_QTY);
            }
            return cumsum;
        }
        $scope.GetTotalSum4Wage = function () {
            var cumsum = 0;
            for (var i = 0; i < $scope.items.length; i++) {
                cumsum += parseFloat($scope.items[i].MAN_PRICE * $scope.items[i].CUM_QTY);
            }
            return cumsum;
        }
        $scope.GetTotalRatio = function () {
            var cumsum = 0;
            var totalamount = 0;
            for (var i = 0; i < $scope.items.length; i++) {
                cumsum += parseFloat($scope.items[i].ITEM_UNIT_PRICE * $scope.items[i].CUM_QTY);
                totalamount += parseFloat($scope.items[i].ITEM_UNIT_PRICE * $scope.items[i].ITEM_FORM_QUANTITY);
            }
            return parseInt(cumsum / totalamount * 100);
        }
        $scope.GetTotalRatio4Wage = function () {
            var cumsum = 0;
            var totalamount = 0;
            for (var i = 0; i < $scope.items.length; i++) {
                cumsum += parseFloat($scope.items[i].MAN_PRICE * $scope.items[i].CUM_QTY);
                totalamount += parseFloat($scope.items[i].MAN_PRICE * $scope.items[i].ITEM_FORM_QUANTITY);
            }
            return parseInt(cumsum / totalamount * 100);
        }

        $scope.EnterEdit = function (row) {
            row.Qty2 = $scope.items.EST_QTY;
            row.EditMode = true;
        };

        $scope.ConfirmEdit = function (row) {
            $scope.items.EST_QTY = row.Qty2;
            delete row.Qty2;
            row.EditMode = false;
        };

        $scope.CancelEdit = function (row) {
            delete row.Qty2;
            row.EditMode = false;
        };

        $scope.save = function () {
            $http.post('/Estimation/UpdateESTQty', $scope.items)
            .success(function (data) {
                console.log(data);
            });
        };
    }
</script>
<script type="text/javascript">

    function SummaryController($scope) {
        $scope.key = @Html.Raw(ViewData["summary"]);

    }

    $("#saveQty").click(function () {
        $.ajax({
            url: '@Url.Action("UpdateESTQty", "Estimation")',
            data: $('#formEST').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#SaveEst").click(function () {
        $.ajax({
            url: '@Url.Action("UpdateEST", "Estimation")',
            data: $('#formEST').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#SubmitEst").click(function () {
        $.ajax({
            url: '@Url.Action("UpdateESTStatusById", "Estimation")',
            data: $('#formEST').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#RejectEst").click(function () {
        $.ajax({
            url: '@Url.Action("RejectESTById", "Estimation")',
            data: $('#formEST').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    $("#ApproveEst").click(function () {
        $.ajax({
            url: '@Url.Action("ApproveESTById", "Estimation")',
            data: $('#formEST').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

</script>
