@model topmeperp.Models.ContractModels
@{
    ViewBag.Title = "發包收支摘要列表";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--標單項目搜尋區條件集合區域-->
<div class="jumbotron">
    <h3 style="height:20px;line-height:10px">@ViewBag.Title</h3>
    <div class="row">
        <div class="col-md-4 form-group" style="padding-top:10px">
            <label for="id">專案編號:</label><input id="id" name="id" type="text" value="@ViewBag.id" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-4" style="padding-top:10px">
            <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        </div>
        <div class="col-md-4" style="padding-top:35px">
            <input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">
        </div>
    </div>
</div>
<div class="contailer">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>投標金額總計</th>
                <th>預算金額總計</th>
                <th>發包成本總計</th>
                <th>利潤總計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span style="color: blue; font-size: 20px;">
                        @String.Format("{0:N0}", ViewBag.revenue)
                    </span>
                </td>
                <td>
                    <span style="color: blue; font-size: 20px;">
                        @String.Format("{0:N0}", ViewBag.budget)
                    </span>
                </td>
                <td>
                    <span style="color: blue; font-size: 20px;">
                        @String.Format("{0:N0}", ViewBag.cost)
                    </span>
                </td>
                <td>
                    <span style="color: blue; font-size: 20px;">
                        @String.Format("{0:N0}", ViewBag.profit)
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <tr>
            <th>
                付款條件設定
            </th>
            <th>
                NO.
            </th>
            <th>
                採購項目
            </th>
            <th>
                廠商名稱
            </th>
            <th>
                投標金額
            </th>
            <th>
                預算
            </th>
            <th>
                發包金額
            </th>
            <th>
                獲利
            </th>
        </tr>
        <tr>
            @foreach (var item in Model.contractItems)
            {
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#paymentInfo" onclick="getPaymentTerm('@item.CONTRACT_ID')">新增 / 修改</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FORM_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUPPLIER_ID)
                </td>
                <td>
                    <span style="color: blue; font-size: 15px;">
                        @String.Format("{0:N0}", item.REVENUE)
                    </span>
                </td>
                <td>
                    <span style="color: blue; font-size: 15px;">
                        @String.Format("{0:N0}", item.BUDGET)
                    </span>
                </td>
                <td>
                    <span style="color: blue; font-size: 15px;">
                        @String.Format("{0:N0}", item.COST)
                    </span>
                </td>
                <td>
                    <span style="color: blue; font-size: 15px;">
                        @String.Format("{0:N0}", item.PROFIT)
                    </span>
                </td>
            }
        </tr>
    </table>
</div>

<!-- Modal :對話框-->
<div class="row" style="padding-top:10px;">
    <div class="modal fade" id="paymentInfo" role="dialog">
        <div class="modal-dialog" id="paymentInfoDialog">
            <!-- Modal content-->
            @Html.Partial("_PaymentTerms");
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#btnQuery').click(function () {
            $("#divProcessing").show();
        });
    });
    //由ID 取得資料填入表單
    function getPaymentTerm(contractid) {
        //alert(contractid);
        $.ajax({
            url: "/PurchaseForm/getPaymentTerms",
            type: "GET",
            data: { contractid: contractid },
            dataType: "JSON",
            success: function (data) {
                $('#project_id').val(data.PROJECT_ID);
                $('#contract_id').val(data.CONTRACT_ID);
                $('#payfrequency').val(data.PAYMENT_FREQUENCY);
                $('#"date1').val(data.DATE_1);
                $('#"date2').val(data.DATE_2);
                $('#payterms').val(data.PAYMENT_TERMS);
                $('#paymentInfo').modal('show'); // show bootstrap modal when complete loaded
                //$('.modal-title').text('編輯設定資料'); // Set title to Bootstrap modal title
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax');
            }
        });
    }
    // Hide the "busy" Gif at load:
    $("#divProcessing").hide();
    // Attach click handler to the submit button:
    $('#login').click(function () {
        $("#divProcessing").show();
    });
</script>
<script language="javascript" type="text/javascript">
    $('#btnRdoSingle').click(function () {
        alert("選取時才會顯示值：" + $('input[name=payfrequency]:radio:checked').val() + "\n" + "有沒有選到都會顯示值：" + $('input[name=payfrequency]:radio').val());
    });
</script>



