@using topmeperp.Models
@model TND_SUPPLIER
@{
    ViewBag.Title = "新增供應商";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div class="col-md-12">
    <!-- Reg-Form new { enctype = "multipart/form-data" } -->
    @using (Html.BeginForm("Create", "SupplierManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                <h3>供應商基本資料</h3><input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">
            </div>
            <div class="col-md-8" style="padding-top:20px;">
                <div class="row ">
                    <label class="col-md-2 control-label">供應商編號 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.SUPPLIER_ID, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">供應商名稱 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.COMPANY_NAME, new { @class = "form-control" })
                        </label>
                    </div>
                    <label class="col-md-2 control-label">聯絡人姓名 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_NAME, new { @class = "form-control" })
                        </label>
                    </div>
                    <label class="col-md-2 control-label">電話 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.COMPANY_TEL, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">E-mail : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_EMAIL, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">傳真 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.COMPANY_FAX, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">聯絡人手機 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_MOBILE, new { @class = "form-control" })
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 alert-info">@Html.Raw(ViewBag.result)</div>
        </div>
        <br />
            <div class="row">
                <div class="" col-md-12">
                    <input type="submit" value="儲存" class="btn btn-default" />
                </div>
            </div>
    }
</div>
