@using topmeperp.Models
@model TND_SUP_CONTACT_INFO
@{
    ViewBag.Title = "修改供應商聯絡人資料";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div class="col-md-12">
    <!-- Reg-Form new { enctype = "multipart/form-data" } -->
    @using (Html.BeginForm("EditForContact", "SupplierManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12" style="padding-top:10px;">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#contactInfo" onclick="getContact('@Model.CONTACT_ID')">新增聯絡人</button>
                <h3>修改供應商聯絡人資料</h3>
            </div>
            <div class="col-md-8" style="padding-top:20px;">
                <div class="row ">
                    <label class="col-md-3 control-label">供應商編號 : </label>
                    <div class="col-md-9">
                        <label class="input">
                            @Html.TextBoxFor(m => m.SUPPLIER_MATERIAL_ID, new { @class = "form-control", @readonly = "readonly" })
                        </label>
                    </div>

                    <label class="col-md-3 control-label">聯絡人 : </label>
                    <div class="col-md-9">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_NAME, new { @class = "form-control"})
                        </label>
                    </div>

                    <label class="col-md-3 control-label">聯絡人電話 : </label>
                    <div class="col-md-9">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_TEL, new { @class = "form-control"})
                        </label>
                    </div>

                    <label class="col-md-3 control-label">聯絡人傳真 : </label>
                    <div class="col-md-9">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_FAX, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-3 control-label">聯絡人手機 : </label>
                    <div class="col-md-9">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_MOBIL, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-3 control-label">聯絡人電子信箱 : </label>
                    <div class="col-md-9">
                        <label class="input">
                            @Html.TextBoxFor(m => m.CONTACT_EMAIL, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-3 control-label">備註 : </label>
                    <div class="col-md-9">
                        <label class="input">
                            @Html.TextBoxFor(m => m.REMARK, new { @class = "form-control" })
                        </label>
                    </div>

                    @Html.HiddenFor(m => m.CONTACT_ID)
                </div>
            </div>
            <div class="col-md-4 alert-info">@Html.Raw(ViewBag.result)</div>
        </div>
        <br />
        <div class="row">
            <div class="" col-md-12">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<!-- Modal :對話框-->
<div class="row" style="padding-top:10px;">
    <div class="modal fade" id="contactInfo" role="dialog">
        <div class="modal-dialog" id="contactInfoDialog">
            <!-- Modal content-->
            @Html.Partial("_AddContact");
        </div>
    </div>
</div>

<script type="text/javascript">
    //由ID 取得資料填入表單
    function getContact(contactid) {
        //alert(userid);
        $.ajax({
            url: "/SupplierManage/getContact",
            type: "GET",
            data: { contactid: contactid },
            dataType: "JSON",
            success: function (data) {
                $('#supplier_material_id').val(data.SUPPLIER_MATERIAL_ID);
                $('#contact_name').val(data.CONTACT_NAME);
                $('#contact_tel').val(data.CONTACT_TEL);
                $('#contact_fax').val(data.CONTACT_FAX);
                $('#contact_mobil').val(data.CONTACT_MOBIL);
                $('#contact_email').val(data.CONTACT_EMAIL);
                $('#remark').val(data.REMARK);

                $('#contactInfo').modal('show'); // show bootstrap modal when complete loaded
                //$('.modal-title').text('編輯設定資料'); // Set title to Bootstrap modal title
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax');
            }
        });
    }

</script>
<script type="text/javascript">
    $("#saveContact").click(function () {

        var URLs = "/SupplierManage/AddContact";
        $.ajax({
            url: URLs,
            data: $('#formContact').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                getContact(contactid)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
</script>


