
@model IEnumerable<topmeperp.Models.SUPPLIER_FUNCTION>
<table class="table">
    <tr>
        <th>
            供應商名稱
        </th>
        <th>
            九宮格
        </th>
        <th>
            產品類別
        </th>
        <th>
            不供貨
        </th>
        <th>
            聯絡人
        </th>
        <th>
            聯絡電話
        </th>
        <th>
            傳真
        </th>
        <th>
            E-Mail
        </th>
        <th>
            備註
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/SupplierManage/Create/@Html.DisplayFor(modelItem => item.SUPPLIER_ID)">@Html.DisplayFor(modelItem => item.COMPANY_NAME)</a>
            </td>
            <td>
                <a href="/SupplierManage/EditForTypeMain/@Html.DisplayFor(modelItem => item.RELATION_ID)" target="_blank">@Html.DisplayFor(modelItem => item.TYPE_MAIN)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPPLY_NOTE)
            </td>
            <td>
                <span style="font-weight:bold;color:red">
                    @Html.DisplayFor(modelItem => item.STOP_DELIVERY)
                </span>
            </td>
            @if (item.CONTACT_NAME != null && item.CONTACT_NAME != "")
            {
                <td>
                    <a href="/SupplierManage/EditForContact/@Html.DisplayFor(modelItem => item.CONTACT_ID)" target="_blank">@Html.DisplayFor(modelItem => item.CONTACT_NAME)</a>
                </td>
            }
            else
            {
                <td>
                    <a href="/SupplierManage/EditForContact/@Html.DisplayFor(modelItem => item.CONTACT_ID)" target="_blank"><span style="color: crimson;">修改聯絡人資料</span></a>
                </td>
            }
                <td>
                    @Html.DisplayFor(modelItem => item.CONTACT_TEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONTACT_FAX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONTACT_EMAIL)
                </td>

                <td>@Html.DisplayFor(modelItem => item.REMARK)</td>
            </tr>
            }

        </table>

