@model IEnumerable<topmeperp.Models.FIN_BANK_LOAN>
@{
    ViewBag.Title = "財務管理-貸款管理";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--直接顯示貸款-->
<div class="container">
    <div class="row">
        <div class="col-md-12 form-group">
            <form name="formUpdateBankAccount" id="formUpdateBankAccount" action="updateBankAccount" method="Post">
                <!--工具列-->
                <div class="row">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#bankLoanInfo">新增</button>
                </div>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>明細</th>
                                <th>銀行代號</th>
                                <th>銀行名稱</th>
                                <th>帳戶名稱</th>
                                <th colspan="2" style="text-align:center">貸款期間</th>
                                <th>額度</th>
                                <th>期數</th>
                                <th>備註</th>
                                <th>修改日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="#" onclick="editBankLoan('@item.BL_ID')"> @item.BL_ID</a>
                                        <input type="hidden" id="BL_ID" name="BL_ID" value="@item.BL_ID" />
                                    </td>
                                    <td><a href="/BankInfo/BankLoanTransaction?BL_ID=@item.BL_ID">明細</a></td>
                                    <td>@item.BANK_ID</td>
                                    <td>@item.BANK_NAME</td>
                                    <td>@item.ACCOUNT_NAME</td>
                                    <td>@string.Format("{0:yyyy/MM/dd}", item.START_DATE)</td>
                                    <td>@string.Format("{0:yyyy/MM/dd}", item.DUE_DATE)</td>
                                    <td>@string.Format("{0:N0}", item.QUOTA)</td>
                                    <td>@item.PERIOD_COUNT</td>
                                    <td>@item.REMARK</td>
                                    <td>@item.MODIFY_DATE</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal :對話框-->
<div class="modal fade" id="bankLoanInfo" role="dialog">
    <div class="modal-dialog" id="bankLoanInfoDialog">
        <!-- Modal content-->
        @Html.Partial("_BankLoanInfo");
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#START_DATE').datetimepicker({
            format: 'YYYY/MM/DD',
            locale: 'zh-tw'
        });
        $('#DUE_DATE').datetimepicker({
            format: 'YYYY/MM/DD',
            locale: 'zh-tw'
        });
    });
    //管理貸還款資料
    $("#submit").click(function () {
        alert("submit click!!");
        var s = $('#formAddBankLoan').serialize();
        var URLs = "/BankInfo/addBankLoan";
        $.ajax({
            url: URLs,
            data: s,
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
    function editBankLoan(id) {
        alert("edit:" + id);
    }
</script>
